.buttonHolder {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
    margin: 0px auto 0 auto;
    width: 15%;
}

.inputHolder {
    width: fit-content;
    display: flex;
    padding: 16px;
    color: #68CCDB;
    justify-content: center;
    align-self: center;
    margin: 50px auto 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #68CCDB;
    border-radius: 8px;
}
.styledButton {
    padding: 16px;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #68CCDB;
    background-color: #061137;
    color: #68CCDB;
    border-radius: 8px;
    margin: 0px 8px;
    transition: background-color 0.3s  ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.styledButton:last-child {
    margin-right: 0px;
}
.styledButton:first-child {
    margin-left: 0px;
}

.styledButton:hover {
    cursor: pointer;
    background-color: #F0AE56;
    border: 2px solid #F0AE56;
    color: black;
}

.hideButtonHolderDiv {
    display: none;
}

.showButtonHolderDiv {
    display: initial;
}


input[type=range] {
    -webkit-appearance: none;
    border-radius: 4px;
    background: #061137;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    border: none;
    border-radius: 4px;
    background: white; 
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #68CCDB;
    margin-top: -5px;
}


input[type=range]:focus {
    outline: none;
}

input[type=range]:hover {
    cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb {
    background: #F0AE56;
}



